@import url('https://fonts.googleapis.com/css2?family=Sora:wght@400;700&display=swap');

.weather-container h2 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 30px;
    color: rgb(226, 232, 240);
    margin-bottom: 4px;
}

.weather-container p {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(226, 232, 240, 0.7);
    display: flex;
    align-items: center;
    margin: 5px 0;
}

/* New styles for icons */
.weather-icon {
    font-size: 48px;
    color: rgb(226, 232, 240);
    margin: 10px 0;
}

.weather-container p svg {
    margin-right: 5px;
}